.env
__pycache__/
node_modules/
*.pyc
*.db
*.sqlite
*.sqlite3
vscode/
a-client/bundles/
webpack-stats.json
.vscode/
package-lock.json
a-client/js/main.js
env/
**/npm-debug.log*
**/*.swo
**/*.swp
**/.DS_Store
**/.idea
.idea/
staticfiles/
.DS_Store
static/
venv/
cypress.env.json
