.events-page {
  margin-top: 50px;

  .click-bait {
    width: 100%;
    background-color: black;
  }

  .mini-header {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 50px;
    align-items: center;

    .title {
      font-size: 18px;
    }

    small {
      display: block;
      font-size: 10px;
    }

    a.btn {
      width: 120px;
    }
  }

  .header-title {
    h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  .header-meta {
    font-size: 20px;
    color: #aaa;
    margin-bottom: 50px;
  }

  .main-cta {
    display: flex;
    margin: 50px;

    .btn {
      font-size: 30px;
      font-weight: 100;
      margin: 0 auto;
      padding: 20px 50px;
    }
  }
}

.banner {
  background-size: cover;
  height: 600px;
}

.banner-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 2px 8px #aaa;
}

.bordered {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

table.borderless {
  font-size: 20px;
  line-height: 2;
  font-weight: 100;
}

.event-details {
  .description {
    margin: 50px 0;
  }
}

.info-tag {
  padding: 50px;
  background: rgba(2, 11, 23, 0.3);
  color: #fff;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar {
  .heading {
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
  }

  .preview-card {
    width: 100%;
    height: 250px;
    background-size: cover;

  }
}