@import '../../tools/index';
@import '../../colors.scss';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.as-form-group {
  @include column-flex;
  justify-content: center;

  .as-form-group__label {
    font-size: rem(15px);
    color: #303030;
    font-weight: normal;
    text-transform: capitalize;
  }

  .as-form-group__input--text_area {
    height: rem(100px);
    resize: none;
  }

  .as-form-group__input {
    font-size: rem(15px);
    line-height: rem(26px);
    padding: rem(10px);
    border: solid rem(1px) #E9EFF4;
    outline: none;
    border-radius: rem(10px);
  }

  .as-form-group__error {
    color: $danger;
  }

  &.increment-input {
    width: 150px;
  }

  &:not(:last-of-type) {
    margin-bottom: rem(15px);
  }

  &.has-error {
    .as-form-group__input {
      border-color: $danger;
    }

    .as-form-group__label {
      color: $danger;
    }
  }
}

.increment-button {
  font-family: 'Material Icons', serif;
  height: 20px;
  width: 50px;
  margin: -7px;
  padding: 0;
  padding-left: 8px;
  font-size: 20px;  
}

.liner {
  margin: 0 auto;
  width: 100%;
}

.upload-field {
  position: relative;

  &__image-preview {
    @include centered-flex;
    font-size: rem(15px);
    border: solid rem(1px) rgba(0, 0, 0, 0.2);
    border-radius: rem(10px);
    height: rem(190px);
  }

  .image-preview {
    background: map-get($colors, dark);;
    border: none;
    color: #fff;

    &__display {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: rem(10px);
      opacity: 0.7;
    }

    &__close {
      @include centered-flex;
      position: absolute;
      top: 2.1rem;
      right: .5rem;
      z-index: 1;
      height: rem(25px);
      width: rem(25px);
      border: rem(2px) solid #fff;
      border-radius: rem(12.5px);
      padding: 0;

      svg {
        width: rem(20px);
        height: rem(20px);
        padding: rem(5px);
      }
    }

    &__close :hover {
      cursor: pointer;
    }

    &__close svg:hover {
      padding: rem(4px)
    }

    path {
      stroke: $white;
    }
  }

  &__placeholder{
    @include column-flex;
    position: absolute;
    align-items: center;
    width: 100%;
  }

  .as-form-group__input {
    width: 100%;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: rem(190px);
    cursor: pointer;
  }
}
