.as-form-group {
  display: flex;
  flex-direction: column;

  .as-form-group__label {
    font-size: rem(15px);
    color: #303030;
    font-weight: normal;
    text-transform: capitalize;
  }

  .as-form-group__input--text_area {
    height: rem(80px);
    resize: none;
  }

  .as-form-group__input {
    font-size: rem(15px);
    line-height: rem(26px);
    padding: rem(10px);
    border: solid rem(1px) #E9EFF4;
    outline: none;
    border-radius: rem(4px);
  }

  .as-form-group__error {
    color: $danger;
  }

  &:not(:last-of-type) {
    margin-bottom: rem(15px);
  }

  &.has-error {
    .as-form-group__input {
      border-color: $danger;
    }

    .as-form-group__label {
      color: $danger;
    }
  }
}
