{% extends "base.html" %}
{% load static %}

{% block title %}Andela Socials | Home{% endblock %}

{% block main %}

    <h1>Front End chaps you know what to do with this page yo..... </h1>

    <center><div id="my-signin2"></div></center>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }

    function OnsignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;

        $.ajax({
            type: "GET",
            url: "/api/v1/auth/login/",
            data: {'ID_Token' : id_token },
            success: function(response) {
                        console.log(response, "this is the success");
                        if (response == "success") {
                            location.href= "/home/";
                        } else {
                            // raise a modal here... 
                            // error message like use a an andela mail account. 
                        }
                    },
            error: function(error) {
                        if (error.error ) {
                            console.log(error.message, "this is the error message");
                        }
                    },
        })
    }

    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': OnsignIn,
        'onfailure': onFailure
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    
{% endblock %}
