html {
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: auto;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #363636;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
.small {
  margin-top: 0rem;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
}

p,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
