.avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  &-xs {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
  }
  &-sm {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
  }
  &-md {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
  }
  &-lg {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
  }
  &-xl {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 50%;
  }
}
