@import '../tools/index';
@import '../colors.scss';
.navbar {
  overflow: hidden;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  a {
    font-size: 1.6rem;
    text-align: center;
    color: map-get($colors, silver);
    padding: 0.9rem 1rem;
    text-decoration: none;
  }
  &__bottom-section {
    height: 2.5rem;
    text-align: center;
    border-top-style: solid;
    border-width: thin;
    border-color: map-get($colors, bonjour);
    padding-top: 0.625rem;
  }
}

.top-navbar {
  height: rem(70px);
  border-radius: 0;
  background-color: $white;
  margin: 0;
  border: 0;
  .navbar-brand {
    height: rem(70px);
    width: rem(70px);
    @include centered-flex
  }
}

.top-navbar__right-container {
  @include flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  height: rem(70px);
  .nav-profile {
    min-width: rem(183.5px);
    margin: 0;
    &__list-menus {
      @include column-flex;
      align-items: center;
      box-shadow: rem(-1px) rem(6px) rem(6px) $grey;
      border: 0;
      border-radius: 0;
      height: 9.125rem;
      width: 10rem;
      li {
        @include centered-flex;
        height: 2.5rem;
        width: 70%;
        margin: 1em 0 1em 0;
        &:first-child:after {
          content: '';
          position: absolute;
          bottom: 50%;
          width: 80%;
          border-bottom: rem(1px) solid $grey;
        }
        a {
          color: #ccc;
          font-weight: 300;
          font-size: rem(24px);
        }
        a:hover {
          background: none;
        }
      }
    }
    &__img {
      width: rem(35px);
      height: rem(35px);
      border-radius: 50%;
    }
    &__username {
      font-size: rem(21px);
      font-style: normal;
      font-variant: normal;
      font-weight: lighter;
      margin: 0 rem(5px) 0 rem(5px);
      color: #ccc;
    }
    &__dropdown-icon {
      color: #ccc;
    }
    &__button {
      box-shadow: none;
      margin-right: rem(26px);
    }
  }
  .notification-container {
    padding: 0 2.375rem 0 3rem;
    &__button {
      margin: 0;
      padding: 0;
      box-shadow: none;
    }
    &__button:active,
    &__button:hover {
      box-shadow: none;
      background: transparent;
    }
    &__list-notifications {
      @include column-flex;
      position: absolute;
      top: 2.5rem;
      width: 21.25rem;
      left: -2.6em;
      align-items: center;
      box-shadow: rem(-1px) rem(6px) rem(6px) $grey;
      background: $white;
      z-index: 1;
      .notifier:last-child {
        border-bottom: 0;
      }
    }
    .notifier {
      @include row-flex;
      width: 19.5rem;
      align-items: center;
      height: 2.5rem;
      margin-top: 1rem;
      border-bottom: rem(1px) solid $grey;
      &__avatar {
        img {
          width: rem(30px);
        }
      }
      &__text {
        font-size: 0.75rem;
        width: 100%;
        color: #ccc;
      }
      &__text--description {
        margin-left: 1em;
      }
      &__text--description-strong {
        color: #000;
      }
      &__text--time {
        float: right;
        margin-top: .3rem;
      }
    }
  }
  .nav-profile__button,
  .notification-container__button {
    @include flex;
    align-items: center;
    border: 0;
    background: transparent;
    padding: 0;
    width: 100%;
  }
  .search-bar {
    @include flex;
    width: 17.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: rem(1px) solid $grey;
    padding: 0;
    margin: 0;
    justify-content: center;
    .form-group {
      @include flex;
      align-items: center;
    }
    &__input {
      border: 0;
      width: 15rem;
      box-shadow: none;
      background: transparent;
    }
  }
}

// Styles for fading when showing the notifications
.notifications-entering {
  opacity: 0.01;
  transform: scale(0.9) translateY(-50%);
}

.notifications-entered {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 200ms ease-out;
}
