.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #F4F8F9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: rem(40px);
  a {
    padding: rem(8px) rem(8px) rem(8px) rem(32px);
    text-decoration: none;
    font-size: rem(25px);
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #F1F1F1;
    }
  }
  .closebtn {
    position: absolute;
    border: none;
    top: 0;
    right: rem(25px);
    font-size: rem(36px);
    margin-left: rem(50px);
  }
}
