@import '../tools/functions.scss';
.event-details{
  position: absolute;
  left: 2.5vw;
  width: 95vw;
  top: rem(159px);

  &__top{
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
  }
  &__section{
    width: 50%;
    max-height: 100%;
    float: left;
    padding: rem(19px) rem(19px) rem(12px) rem(19px);
    background-color: #FFF;
    @media screen and (max-width: rem(840px)) {
      width: 100%;
    }
  }
  
  &__middle{
    margin-top: rem(20px);
    width: 95vw;
    min-height: 50vh;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
  }
  &__img-container{
    overflow: hidden;
  }
  &__picture{
    width: 90%;
    margin: rem(28px) rem(35px) rem(48px) rem(28px);
  }
  &__gallery-picture{
    width: rem(84px);
    height: rem(89px);
    margin-bottom: rem(39px);
    margin-left: rem(20px);
  }
  &__mini-gallery{
    margin-left: rem(28px);
    max-width: 41vw;
    display: inline-flex;
  }
  &__event_title{
    font-family: DIN Pro;
    font-weight: bold;
    font-size: rem(40px);
    padding: 0 0 0 rem(26px);
  }
  &__social_event{
    font-size: rem(20px);
    font-style: normal;
    font-weight: lighter;
    margin: 0 0 0 rem(26px);
    color: #797979;
  }
  &__rsvp_button{
    margin: rem(14px) 0 0 rem(26px);
    border-radius: 8%;
    background-color: #3359DB;
    font-size: 1.35em;
    color: white;
    padding: rem(5px) rem(30px);
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  [tooltip] {
    margin: 20px;
    position: relative;
  }
  [tooltip]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 2px;
    transform: translateY(-50%) rotate(90deg);
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    border-style: solid;
    z-index: 100;
    opacity: 0;
  }
  [tooltip]::after {
    content: attr(tooltip);
    text-align: center;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 8px;
    transform: translateX(0) translateY(-50%);
    color: #fff;
    padding: 4px 4px;
    font-size: 12px;
    min-width: 120px;
    border-radius: 5px;
    pointer-events: none;
    z-index:99;
    opacity:0;
  }
  [tooltip]:hover::after,[tooltip]:hover::before {
    opacity:1
 }
  &__location_time h5 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 350;
    line-height: rem(10px);
  
  }
  &__location_time p {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: lighter;
    overflow-wrap: break-word;
    margin-bottom: rem(-20px);
  }
  &__description h5 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bolder;
    line-height: rem(7px);
    padding-top: rem(19px);
    margin-bottom: .5rem; 
  }
  &__description article, &__attending p, &__tags p{
    font-style: normal;
    font-size: 1.2rem;
    word-break: break-all;
    font-weight: lighter;
    padding: rem(19px) 0 rem(20px) 0;
  }
  &__edit {
    color: #365edb;
    border-color: #365edb;
    font-size: large;
    width: rem(49px);
    height: rem(42px);
    margin: 0 0 0 rem(26px);    
  }
  &__delete {
    color: #DB4437;
    border-color: #DB4437;
    font-size: large;
    width: rem(49px);
    height: rem(42px);
    margin: 0 0 0 rem(26px);    
  }  
}
