@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.event {
  &__container {
    background-color: rgba(244, 248, 249, 1);
    display: grid;
    grid-template-columns: [full-start] rem(30px) [sidebar-start] rem(330px) [sidebar-end] rem(30px) [event-gallery-start] auto [event-gallery-end] rem(36px) [full-end];
    grid-template-rows: auto rem(147.69px);
    @include mobile('600px') {
      grid-template-rows: repeat(2, auto) rem(100px);
      grid-template-columns: auto;
      grid-row-gap: rem(30px);
      margin-left: rem(5px);
    }
  }
  &__sidebar {
    grid-column: sidebar-start/sidebar-end;
    width: rem(330px);
    vertical-align: middle;
  }
  &__gallery {
    grid-column: event-gallery-start/event-gallery-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(321px), auto));
    grid-column-gap: rem(25px);
    grid-row-gap: rem(30px);
    align-content: start;
    justify-content: flex-start;
  }
  &__footer {
    grid-column: event-gallery-start/event-gallery-end;
    height: 100%;
    width: 100%;
    margin-top: rem(29.69px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__load-more-button {
    width: 16vw;
    height: rem(52px);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    font-size: rem(20px);
    color: $white;
    font-family: inherit;
    text-decoration: none;
    border: none;
    transition: all .2s;
    position: relative;
    @include mobile('600px') {
      width: 35vw;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 rem(5px) rem(10px) rgba(black, .2);
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 rem(2px) rem(5px) rgba(black, .2);
    }
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      background-color: rgba(#365DDB, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
    }
  }
}

.calenders {
  &__icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }
  &__header {
    display: block;
    width: 100%;
    padding: 1.75em 0;
    border-bottom: 1px solid var(--border-color);
    background: var(--neutral-color);
    #logo {
      font-size: 175%;
      text-align: center;
      color: var(--main-color);
      line-height: 1;
      .icon {
        padding-right: .25em;
      }
    }
  }
  /* GRID */
  &__row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  &__row-middle {
    align-items: center;
  }
  &__col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  &__col-start {
    justify-content: flex-start;
    text-align: left;
  }
  &__col-center {
    justify-content: center;
    text-align: center;
  }
  &__col-end {
    justify-content: flex-end;
    text-align: right;
  }
  &__circle {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
  }
  &__header-arrow {
    max-width: 20%;
  }
}

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
  --calender-header-color: #DEDEDE;
  --calender-selected-backgroung: #3359DB;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border-radius: 10px;
  height: rem(373px);
  .header {
    text-transform: uppercase;
    font-size: 15px;
    padding: 1em 0;
    color: var(--calender-header-color);
    .icon {
      cursor: pointer;
      transition: .15s ease-out;
      &:hover {
        transform: scale(1.75);
        transition: .25s ease-out;
        color: var(--main-color);
      }
      &:first-of-type {
        margin-left: 1em;
      }
      &:last-of-type {
        margin-right: 1em;
      }
    }
  }
  .days {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-color-light);
    font-size: 70%;
    padding: .75em 0;
    border-bottom: 1px solid var(--border-color);
  }
  .full {
    .cell {
      position: relative;
      height: 0;
      overflow: hidden;
      cursor: pointer;
      transition: 0.25s ease-out;
      &:hover {
        background: var(--calender-selected-backgroung);
        color: var(--neutral-color);
        transition: 0.5s ease-out;
        border-radius: 50%;
      }
    }
    .selected {
      border-radius: 50%;
      color: var(--neutral-color);
      background: var(--calender-selected-backgroung);
    }
    .row {
      border-bottom: 1px solid var(--border-color);
      &:last-child {
        border-bottom: none;
      }
    }
    .cell {
      &:last-child {
        border-right: none;
      }
      .number {
        position: absolute;
        font-size: 82.5%;
        line-height: 1;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .disabled {
      color: var(--text-color-light);
      pointer-events: none;
    }
    .cell {
      .bg {
        font-weight: 700;
        line-height: 1;
        color: var(--main-color);
        opacity: 0;
        font-size: 8em;
        position: absolute;
        top: -.2em;
        right: -.05em;
        transition: .25s ease-out;
        letter-spacing: -.07em;
      }
      &:hover .bg {
        opacity: 0.05;
        transition: .5s ease-in;
      }
    }
    .selected .bg {
      opacity: 0.05;
      transition: .5s ease-in;
    }
    .col {
      flex-grow: 0;
      flex-basis: calc(100%/7);
      width: calc(100%/7);
      padding-bottom: calc(100%/7);
    }
  }
}

.filter {
  &__container {
    display: block;
    position: relative;
    width: 100%;
    background: var(--neutral-color);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 1rem;
  }
  &__title {
    font-size: 22px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 75%;
      height: 1px;
      bottom: 0;
      left: 1%;
      border-bottom: 4px solid rgba(51, 89, 219, 1);
    }
  }
  &__box {
    padding: 5px;
    margin-top: 10px;
  }
}

.cd-wrapper {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid #DEDEDE;
  border-radius: 9px;
  height: 35px;
  cursor: pointer;
  margin: 10px 0; //z-index: 1;
}

.cd-icon {
  float: right;
  width: 25%;
  border-left-color: #DEDEDE;
  border-left-width: 1px;
  border-left-style: solid;
  height: 34px;
  text-align: center;
  display: table-cell;
}

.cd-header-title {
  vertical-align: middle;
  display: table-cell;
}

.cd-title {
  width: 75%;
  float: left;
  display: table;
  text-align: center;
  font-size: 10px;
  height: -webkit-fill-available;
  color: #DEDEDE;
}

.cd-header {
  width: 100%;
}

.cd-list {
  background: white;
  list-style: none;
  margin-top: 33px;
  padding: 5px 0 5px 5px;
  border: 1px solid #DEDEDE;
  position: absolute;
  z-index: 20;
  width: 100%;
}

.event-button {
  margin-top: 20px;
  width: 100%;
  height: 36px;
  background: #3359DB;
  color: white;
  border-radius: 0px !important;
}
