@import '../tools/index';
@import '../screen_size.scss';

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

.interests-page {
  padding: 2em 5em;
  @include tablet {
    padding: 2em;
  }
  .interests {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    @include tablet {
      grid-template-columns: repeat(3,1fr);
    }
    @include mobile {
      grid-template-columns: repeat(2,1fr);
    }
    &-card {
      padding: 1em 1em 1em 1.5em;
      min-width: 12.5em;
      cursor: pointer;
      color: #C4C4C4;
      border: 1px solid #C4C4C4;
      border-radius: 50px;
      transition: all .4s ease-in-out;
      flex-direction: row;
      display: flex;
      align-items: center;
      margin: .9em auto;
      p {
        text-transform: capitalize;
      }
      &__icon-close {
        @include centered-flex;
        width: 2.2em;
        height: 2.2em;
        border-radius: 50%;
        border: 1px solid #C4C4C4;
        margin-left: auto;
        &:hover{
          border-color: #e60b0bb3;
          .interest-icon {
            color: #e60b0bb3;
          }        
        }
        .interest-icon {
          font-size: 13px;
        }
      }
      &__icon-check {
        font-size: 22px;
        margin-left: auto;
        .interest-icon {
          font-size: 13px;
        }
      }
      p {
        font-size: 20px;
      }
      &:hover, &.active {
        background-color: white;
        box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: .1);
        border-color: rgba(#C4C4C4, 0);
      }
      &.active {
        color: rgb(92, 124, 228) !important;
      }
    }
  
    .interest-icon {
      font-family: Material Icons, serif;
      font-style: normal;
      color: #C4C4C4;
    }
  }

  footer {
    display: flex;
    padding: 2em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f4f8f9;
    .interests__btn {
      padding: .7em 3em;
      border: 1.2px solid #365DDB;
      text-transform: uppercase;
      margin: 0 .5em;
      &:hover {
        box-shadow: 2px 2px 15px rgba($color: #365DDB, $alpha: .5);
      }
      &.interests__btn-cancel {
        color: #365DDB;
        margin-left: auto;
      }
      &.interests__btn-submit {
        color: white;
        background-color: #365DDB;
      }
    }
  }
}
