.info-tag-holder {
  margin-top: 20%;
  display: flex;
  width: 100%;
  justify-content: space-around;

  .title-holder {
    text-align: left;

    .header-title h2 {
      font-size: 50px;
    }
  }
}

.events-page.social-club {
  .info-tag {
    background: rgba(2, 11, 23, 0.62);
  }

  button#my-modal {
    font-size: 14px;
    height: 40px;
    width: 120px;
  }

  .event-image {
    width: 250px;
    background-size: cover;
  }

  .event .event-details {
    margin-left: 40px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;

    .event-name {
      font-size: 30px;
    }

    .event-meta {
      align-self: flex-end;

      p {
        margin-bottom: 5px;
        font-size: 14px;
      }
    }

  }
}

