<div class="event-invite__main_card" style="font-size: 16px; font-family: 'Helvetica Neue',Arial,sans-serif; background-color: #f4f8f9; box-shadow: 0 .25rem .5rem 0 #000000; padding: 1% 5%;">
  <div style="font-size: 35px; text-align: center">
    Andela Socials
  </div>
  <p className="event-invite__title">You have been invited to attend {{title}}.</p>
  <img className="event-invite__event_img" style="border-radius: .3125rem 0; object-fit: scale-down; max-width: 85%; margin: 0 auto;"
    src="{{imgUrl}}" alt="event img" />
  <p className="event-invite__title" style="margin: .625rem auto;"><strong>Venue</strong>: {{venue}}.</p>
  <p className="event-invite__title"><strong>Starts On</strong>: {{startDate}}.</p>
  <div style="text-align: center">
    <a href="{{url}}" style="border: 0.5px solid #365edb; color: #fff; border-radius: .3125rem; line-height: 3.125rem; padding: 10px 20px; text-decoration: none; background-color: #365edb;"
      className="event-invite__button event-invite__go_btn">
      View Event Details
    </a>
  </div>
</div>