@font-face {
  font-family: 'Primary-DINPro';
  src: url('fonts/Primary_font-DIN/DINPro-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Primary-DINPro';
  src: url('fonts/Primary_font-DIN/DINPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Primary-DINPro';
  src: url('fonts/Primary_font-DIN/DINPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Primary-DINPro';
  src: url('fonts/Primary_font-DIN/DINPro-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Primary-DINPro';
  src: url('fonts/Primary_font-DIN/DINPro-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Primary-DINPro';
  src: url('fonts/Primary_font-DIN/DINPro-Extlight.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato_font/Lato-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
