@import "tools/index";
@import "base/index";
@import "pages/index";
@import "components/index";
@import "./toastr.scss";

// fonts
@import url("fonts.scss");

// google font
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.andela {
  width: 8vw;
  margin-top: 3rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  color: #FFF;
  margin: 1rem;

  p {
    font-size: 5rem;
  }
}

.featured-meetup {
  width: 40vw;
  box-shadow: 10px 11px 4px 0 rgba(0, 26, 113, 0.5);
}

#button {
  border-radius: 8px;
  background-color: #01149A;
  box-shadow: 0 7px 6px 0 rgba(0, 26, 113, 0.5);
  outline: 0;
  color: #FFF;
  width: 15vw;
  height: 6vh;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 0.5rem;
  margin-top: 4rem;
}

.auth-page {
  height: 100vh;
  background: linear-gradient(180deg, #01149A 50%, #FFF 50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #FFF;
}

.page-header {
  width: 100vw;
  height: 300px;
}

.not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 80px;
    color: #030303;
  }
}

.club-link a {
  color: #FFFFFF;
  text-decoration: none;
}
