@import "tools/index";
@import "base/index";
@import "pages/index";
@import "./toastr.scss";

/* MY STYLES */
body {
    font-family: 'Lato', sans-serif;
}

.auth-page {
    background: #3359DE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: italic;
    font-family: cursive;
}

.page-header {
    width: 100vw;
    height: 300px;
}
.black-cover {
    width: 100vw;
    height: 300px;
    background: black;
    opacity: 0.5;
}
.club-title {
    z-index: 999;
    position: absolute;
    top: 31%;
    left: 8%;
}
.club-title > h1 {
    color: white;
    font-size: 48px;
}
.club-title > button {
    width: 150px;
    height: 50px;
    background-color: #6D9EE1;
    color: white;
    border: 0;
    font-size: 20px;
}
.event-list {
}
.event-list-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
}
.event-list-header > button {
    background-color: #6D9EE1;
    color: white;
    border: 0;
}
.event {
    border: 1px solid #ddd;
    display: flex;
    margin-bottom: 20px;
}
.event-image {
    margin-right: 20px;
}
.event-details {
    padding-top: 10px;
}
.event-actions {
    display: flex;
    justify-content: space-around;
}
.event-actions button {
    width: 100px;
    height: 40px;
    background-color: #6D9EE1;
    color: white;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
}
