@import "tools/index";
@import "base/index";
@import "pages/index";
@import "./toastr.scss";

/* MY STYLES */
body {
    font-family: 'Lato', sans-serif;
}

.auth-page {
    background: #3359DE;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: italic;
    font-family: cursive;
}

.page-header {
    width: 100vw;
    height: 300px;
}
.black-cover {
    width: 100vw;
    height: 300px;
    background: black;
    opacity: 0.5;
}
.club-title {
    z-index: 999;
    position: absolute;
    top: 31%;
    left: 8%;
}
.club-title > h1 {
    color: white;
    font-size: 48px;
}
.club-title > button {
    width: 150px;
    height: 50px;
    background-color: #6D9EE1;
    color: white;
    border: 0;
    font-size: 20px;
}
.event-list {
}
.event-list-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
    font-size: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
}
.event-list-header > button {
    background-color: #6D9EE1;
    color: white;
    border: 0;
}
.event {
    border: 1px solid #ddd;
    display: flex;
    margin-bottom: 20px;
}
.event-image {
    margin-right: 20px;
}
.event-details {
    padding-top: 10px;
}
.event-actions {
    display: flex;
    justify-content: space-around;
}
.event-actions button {
    width: 100px;
    height: 40px;
    background-color: #6D9EE1;
    color: white;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
}


#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}
