$font-weight: (
  light: 300,
  regular: 400,
  bold: 600,
);

$font-size: (
  small: 0.75rem,
  regular: 1rem,
  large: 1.5rem,
  x-large: 2rem,
  xx-large: 3rem,
  xxx-large: 4rem,
  xxxx-large: 6rem,
);
